.vs
artifacts/obj
src/AspNet5AngularJSDynamicRoutes/node_modules
src/AspNet5AngularJSDynamicRoutes/bower_components
src/AspNet5AngularJSDynamicRoutes/AspNet5AngularJSDynamicRoutes.kproj.user
src/AspNet5AngularJSDynamicRoutes/bin
src/AspNet5AngularJSDynamicRoutes/obj
