<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">{{message}}</h3>
		</div>
		<div class="panel-body">

			<div class="row">
				<div class="col-xs-2">Id</div>
				<div class="col-xs-6">{{animal.Id}}</div>
			</div>

			<hr />
			<div class="row">
				<div class="col-xs-2">Name of Animal</div>
				<div class="col-xs-6">{{animal.AnimalName}}</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-xs-2">Speed</div>
				<div class="col-xs-6">{{animal.Speed}}</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-xs-2">Description</div>
				<div class="col-xs-6">{{animal.Data}}</div>
			</div>
		</div>
	</div>
</div>